:root{
    --black: #000;
    --ink: #062F4F;
    --embers: #B82601;
    --lightembers: #FFCCCB;
    --white: #FFF;
    --lightgrey: #5A5A5A;
}

/*---------- IMPRESSUM -----------*/

#impressum{
    padding: 80px 0;
}

.impressum_text{
    position: relative;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    text-align: justify;
}

.impressum_text h1{
    padding: 40px 0;
    font-size: 60px;
    /*text-decoration: underline var(--embers);*/
}

.impressum_text h2{
    padding-top: 60px;
    color: var(--embers);
    font-size: 40px;
}

.impressum_text h3{
    padding: 20px 0;
    font-size: 30px;
}

.impressum_text a{
    color: var(--white);
}